.stays-offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2.5rem;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 20px;
    background-color: #f7f7f7ad;
  
  }
  
  .stays-Ocard {
    background-color: #c7f7e4;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .stays-Ocard:hover {
    transform: translateY(-5px);
  }
  
  .stays-offer_img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 1rem;
    padding-top: 20px;
  }
  
  .stays-offer_details {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5rem;
  }
  
  .stays-offer-description {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 1rem;
  }
  
  /* Tablet */
  @media (max-width: 1024px) {
    .stays-offer-container {
      justify-content: center;
      gap: 2rem;
    }
  
    .stays-Ocard {
      width: 220px;
      padding: 1rem;
    }
  
    .stays-offer-title {
      font-size: 20px;
    }
  
    .stays-offer-description {
      font-size: 13px;
    }
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .stays-offer-container {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 2rem;
      position: relative;
      margin-bottom: 10%;
    }
  
    .stays-Ocard {
      width: 90%;
      padding: 1rem;
    }
  
    .stays-offer_img {
      width: 50px;
      height: 50px;
      padding-top: 10px;
    }
  
    .stays-offer-title {
      font-size: 15px;
    }
  
    .stays-offer-description {
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  