/* hotel Step three Specific Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.step-three-entry-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8dd3bb;
  background-image: url('/assets/backgroundill.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;
  z-index: 1;
}

.step-three-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:40px;
  background-color: white;
  border-radius: 10px;
  max-width: 590px;
  margin: 10px;
}

.step-three-facilities-header {
  margin-bottom: 20px;
  text-align: center;
}

.step-three-tag-line {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
}

.step-three-checkbox-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.step-three-left-column,
.step-three-right-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

/* Hide default checkbox */
.step-three-checkbox {
  display: none;
}

/* Custom checkbox design */
.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}


.step-three-checkbox:checked + .custom-checkbox {
  background-color: #8DD3BB;
  border-color: #8DD3BB;
}

.step-three-checkbox:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.step-three-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.step-three-label-text {
  font-size: 12px;
}

.step-three-nav-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;

}

.step-three-back-btn,
.step-three-next-btn {
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.step-three-back-btn {
  background-color: #8DD3BB;
}

.step-three-next-btn {
  background-color: #8DD3BB;
}

.step-three-back-btn:hover,
.step-three-next-btn:hover {
  opacity: 0.9;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 480px) {
  .step-three-checkbox-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .step-three-left-column,
  .step-three-right-column {
    width: 100%;
    align-items: flex-start;
  }
}
